@import "~antd/dist/antd.css";

.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	margin: 5px;	
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.site-layout .site-layout-background {
	background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
	background: #141414;
}

.site-page-header {
	padding: 24px;
	background-color: #fff;
}

/* TABLA */
.ant-table-content {
	overflow-y: auto;
}

/* Login */
.title__login {
	text-align: center;
	margin-bottom: 30px !important;
}

.button__login {
	width: 100%;
}

.header-slider {
	width: calc(100% - 256px);
}

.header-slider-colapse {
	width: calc(100% - 80px);
}

.site-layout-background {
	background: #fff;
}

.ant-advanced-search-form {
	padding: 24px;
	background: #fbfbfb;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
  }
.ant-layout-sider {
	background: #f9f9f9 !important;
	
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
	background: #f9f9f9 !important;
	color: #232323 !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: #b70f0a;
}
.ant-menu-item-active {
	background-color: #b70f0a;
	color: #232323 !important;
}

.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
    color: #b70f0a;
    background-color: transparent;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
    color: #232323 !important;
}

.ant-menu-item-selected .ant-menu-title-content{
	color: #f9f9f9 !important;
}

.ant-btn-primary {
    color: #fff;
    border-color: #b70f0a;
    background: #b70f0a;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    border-color: #af2420;
    background: #8f1a16;
}
.upload-list-inline .ant-upload-list-item {
	float: left;
	width: 200px;
	margin-right: 8px;
  }
  
  .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
	float: right;
  }

  .editable-cell {
	position: relative;
  }
  
  .editable-cell-value-wrap {
	padding: 5px 12px;
	cursor: pointer;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
	padding: 4px 11px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
  }
  
  [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
	border: 1px solid #434343;
  }